:root {
  --cinza: #aaa;
  --azulClaro: #4898d6;
  --vermelha-escura: #bb2334;
  --branca: #fff;
  --vermelhoClaro: rgb(222, 88, 88);
  --azul: #332960e4;
}

body {
  align-items: center;
  background-image: url(/efeitosSonoros/images/background.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 2rem;
}

.teclado {
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--azul);
  box-shadow: 2px 2px 5px var(--azulClaro);
  border-radius: 10px;
  color: var(--azulClaro);
  cursor: pointer;
  height: 120px;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 200px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelhoClaro);
  border: 4px solid  var(--vermelhoClaro);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  cursor: pointer;
  outline: none;
  box-shadow: 4px 4px 10px var(--vermelhoClaro);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 5px 5px 0 var(--vermelha-escura);
}

.tecla:hover{
  box-shadow: 2px 2px 5px #fff;
}
